$backgorund-color: rgb(36, 37, 53);
$sub-backgorund-color-1: rgba(20, 168, 0, 0.174);
$sub-backgorund-color-2: rgb(255, 202, 0);
$primary-color: rgb(25, 189, 120);
$border-color-1: rgb(255, 255, 255);
$border-color-2: rgb(255, 255, 255);
$border-color-3: rgba(157, 157, 157, 0.341);
$text-color-1: rgb(255, 255, 255);
$text-color-2: rgb(92, 97, 138);